{
	"env": {
		"development": {
		  "plugins": [
			["babel-plugin-styled-components", {
			  "displayName": true,
			  "ssr": true
			}]
		  ]
		}
	  },
	"presets": ["next/babel"],
	"plugins": [["styled-components", { "ssr": true }]] 
}
